<div id="container">
    <div id="content">
        <h2><u>About</u></h2>
        <p>SpeechPath was first an idea thought about by Cynthia Sudduth and then developed by John Yacuta.</p>
        <p>Cynthia has been a Speech Pathologist for years helping her clients with pernouncing sounds in the English language.</p>
        <p>John is a recent graduate from UC Davis and is currently working as a Validation Technician at Intel.</p>
        <p>SpeechPath is an ongoing project and is developed through the ideas brought by Cynthia.</p>
        <p>This application was created to assist Cynthia in her business as well as building John's skills in software development.</p>
    </div>
</div>