#container {
    width: 50%;
    margin: 150px auto;
    background-color: white;
}

#content {
    padding: 50px;
    text-align: center;
}

#content h2 {
    font-family: 'Rammetto One', cursive;
}

#content button {
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'Rammetto One', cursive;
    width: 500px;
    height: 100px;
}