<!-- Home Grid UI -->

<h1><u>SpeechPath</u></h1>

<div class="grid grid-pad">
  <a class="col-1-4">
    <div class="module">
      <h2>p</h2>
    </div>
  </a>

  <a class="col-1-4">
    <div class="module">
      <h2>b</h2>
    </div>
  </a>

  <a class="col-1-4">
    <div class="module">
      <h2>m</h2>
    </div>
  </a>

  <a class="col-1-4">
    <div class="module">
      <h2>d</h2>
    </div>
  </a>

  <a class="col-1-4">
    <div class="module">
      <h2>n</h2>
    </div>
  </a>

  <a class="col-1-4">
    <div class="module">
      <h2>t</h2>
    </div>
  </a>

  <a class="col-1-4">
    <div class="module">
      <h2>k</h2>
    </div>
  </a>

  <a class="col-1-4">
    <div class="module">
      <h2>g</h2>
    </div>
  </a>
</div>