<div id="container">
    <div id="content">
        <h2><u>Sound: {{sound}}</u></h2>

        <div class="wrapper">
            <div class="button-wrapper">
                <input type="submit" value="<"/>
            </div>
            <div class="image-wrapper">
                <img src="assets/img/flashcards/{{sound}}/potato.jpg" alt="image">
            </div>
            <div class="button-wrapper">
                <input type="submit" value=">"/>
            </div>
        </div>
    </div>
</div>